# Virtual Environment
myvenv/
venv/
env/
ENV/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
local_settings.py
media/

# Static files
staticfiles/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/