asgiref==3.12.1
Django==5.2.6
djangorestframework
djangorestframework-simplejwt
psycopg2-binary==2.9.12
python-decouple==3.8
Pillow
django-allauth
requests
django-filter
bleach
markdown
boto3
django-storages
celery
redis
django-celery-beat
django-cors-headers
sqlparse==0.5.5
tzdata==2026.3
gunicorn
sentry-sdk
django-prometheus
django-ratelimit
django-redis
dj-database-url
whitenoise